In [12]:
import pandas as pd
from constants import current_stock_data, current_news_data

In [18]:

df = pd.read_csv(current_news_data)

In [19]:
df.head()

,category,datetime,headline,id,image,related,source,summary,url,ticker,commodity
0,company,1744411867,NEWMONT INVESTIGATION INITIATED BY FORMER LOUI...,133883551,NaN,NEM,Finnhub,"NEW YORK and NEW ORLEANS, April 11, 2025 /PRNe...",https://finnhub.io/api/news?id=e288f59469150b8...,NEM,gold
1,company,1744404023,UBS Upgrades Newmont (NEM),133882216,NaN,NEM,Fintel,NaN,https://finnhub.io/api/news?id=a9b888efd1b2bdc...,NEM,gold
2,company,1744401272,Stock Market Today: Stocks Rally Into Final Ho...,133880811,https://s.yimg.com/rz/stage/p/yahoo_finance_en...,NEM,Yahoo,The major indexes made robust progress Friday ...,https://finnhub.io/api/news?id=bb6ced5155cc9ab...,NEM,gold
3,company,1744397089,Why Newmont Stock Jumped 26% Amid Market Volat...,133881001,https://s.yimg.com/rz/stage/p/yahoo_finance_en...,NEM,Yahoo,An analyst expects Newmont stock to rally furt...,https://finnhub.io/api/news?id=bf9eed811890e0e...,NEM,gold
4,company,1744395480,Newmont Stock Surges. It’s a Buy as Gold Price...,133881002,https://s.yimg.com/rz/stage/p/yahoo_finance_en...,NEM,Yahoo,Newmont stock offers leverage to a bullish ma...,https://finnhub.io/api/news?id=c452e3fd278fb73...,NEM,gold

In [21]:
# Shows all columns and their NaN counts (only columns with NaN values)
print(df.isna().sum()[df.isna().sum() > 0])

image      668
summary    169
dtype: int64